$social_list: googleplus pinterest facebook linkedin;

.social {
	li {
		margin: 5px 0;
	}

	a {
		@include inline(middle);

		&:before {
			content: '';
			@include inline(middle);
			width: image-width(sprite-file($icons, social-#{nth($social_list, 1)}));
			height: image-height(sprite-file($icons, social-#{nth($social_list, 1)}));
			margin: 0 5px 0 0;
		}
	}

	@for $i from 1 through length($social_list) {
	    .#{nth($social_list, $i)} {
	    	background-image: url( #{nth($social_list, $i)}.jpg );
	    	&:before {
	    		@include use-sprite(social-#{nth($social_list, $i)}, $retina: false, $hover: false);
	    	}
	    }
	}


	//
	// Inline
	//
	&--inline {
		li {
			@include inline(middle);
			margin: 0;
		}

		a {
			font-size: 0;

			&:before {
				margin: 0;
			}
		}
	}
}